<h1>Todo</h1>

<p>This is a complex todo list component.</p>

<p *ngIf="!lists"><em>Loading...</em></p>

<div *ngIf="lists">

  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Filter Todo Items by Tags</h5>
          <button class="btn btn-sm btn-primary" (click)="showTagManagementModal(tagManagementModalTemplate)">
            <i class="bi bi-tags"></i> Manage Tags
          </button>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <h6>Popular Tags:</h6>
            <div class="d-flex flex-wrap">
              <ng-container *ngFor="let tag of popularTags">
                <div class="tag me-2 mb-2" 
                     [style.background-color]="tag.color || '#6c757d'"
                     [class.tag-selected]="isTagSelected(tag.id)"
                     (click)="filterByTag(tag)">
                  {{ tag.name }} ({{ tag.usageCount }})
                </div>
              </ng-container>
              <div *ngIf="!popularTags || popularTags.length === 0" class="text-muted">No popular tags yet</div>
            </div>
          </div>
          
          <div class="mb-3">
            <h6>All Tags:</h6>
            <div class="d-flex flex-wrap">
              <ng-container *ngFor="let tag of tags">
                <div class="tag me-2 mb-2" 
                     [style.background-color]="tag.color || '#6c757d'"
                     [class.tag-selected]="isTagSelected(tag.id)"
                     (click)="filterByTag(tag)">
                  {{ tag.name }} ({{ tag.usageCount }})
                </div>
              </ng-container>
              <div *ngIf="!tags || tags.length === 0" class="text-muted">No tags created yet</div>
            </div>
          </div>
          
          <div *ngIf="selectedTags.length > 0">
            <h6>Active Filters (items with these tags):</h6>
            <div class="d-flex flex-wrap">
              <ng-container *ngFor="let tag of selectedTags">
                <div class="tag tag-selected me-2 mb-2" 
                     [style.background-color]="tag.color || '#6c757d'"
                     (click)="filterByTag(tag)">
                  {{ tag.name }}
                  <button type="button" class="btn-close btn-close-white ms-2" (click)="filterByTag(tag)"></button>
                </div>
              </ng-container>
            </div>
          </div>
          
          <div class="row mt-3">
            <div class="col-12 text-end">
              <button class="btn btn-outline-secondary" (click)="clearFilters()">
                <i class="bi bi-x-circle"></i> Clear Filters
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search todos..." [(ngModel)]="searchText" (keyup)="searchItems(searchText)">
        <button class="btn btn-outline-secondary" type="button" (click)="searchItems(searchText)">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Lists</h2>
        <button class="btn btn-default float-end" title="New List..."
          (click)="showNewListModal(newListModalTemplate)">
          <i class="bi bi-journal-plus"></i>
        </button>
      </div>
      <ul class="list-group">
        <li *ngFor="let list of lists; index as i" class="list-group-item"
          [ngClass]="{ 'active': selectedList == list }" (click)="selectedList = list">
          <div class="clearfix">
            <div class="float-start">
              {{ list.title }}
            </div>
            <div class="float-end text-right">
              <span class="badge badge-light">{{ remainingItems(list) }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-8" *ngIf="selectedList">
      <div class="clearfix">
        <h2 class="float-start">{{ selectedList.title }}</h2>
        <button id="listOptions" class="btn btn-default float-end" title="List Options..."
          (click)="showListOptionsModal(listOptionsModalTemplate)">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
      </div>
      <ul id="todo-items" class="list-group mb-2">
        <li class="list-group-item" *ngFor="let item of selectedList.items; index as i">
          <div class="d-flex">
            <div class="todo-item-checkbox">
              <input type="checkbox" [(ngModel)]="item.done" (change)="updateItem(item)" />
            </div>
            <div class="flex-fill">
              <input id="{{ 'itemTitle' + i }}" *ngIf="item == selectedItem" type="text"
                class="form-control item-input-control" [(ngModel)]="item.title" (keyup.enter)="updateItem(item, true)"
                (blur)="updateItem(item)" autofocus="autofocus" />
              <div class="todo-item-title" *ngIf="item != selectedItem" [ngClass]="{ 'done-todo': item.done }"
                (click)="editItem(item, 'itemTitle' + i)" class="form-control item-input-control">
                <span>{{ item.title }}</span>
                <div class="d-flex flex-wrap mt-1" *ngIf="item.tags && item.tags.length > 0">
                  <div *ngFor="let tag of item.tags" class="tag-small me-1 mb-1" [ngStyle]="{'background-color': tag.color || '#6c757d'}">
                    {{ tag.name }}
                  </div>
                </div>
              </div>
            </div>
            <div class="todo-item-commands">
              <button *ngIf="item.id != 0" (click)="showItemDetailsModal(itemDetailsModalTemplate, item)"
                class="btn btn-default btn-xs" role="button">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item" (click)="addItem()">
          <button class="btn btn-default">Add Item...</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ lists | json }}</pre>
</div>

<ng-template #listOptionsModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">List Options</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="listOptionsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputListTitle">Title</label>
      <input type="text" class="form-control" id="inputListTitle" placeholder="List name..."
        [(ngModel)]="listOptionsEditor.title" (keyup.enter)="updateListOptions()" />
    </div>
    <div *ngIf="debug">
      <pre>{{ listOptionsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-start">
        <button class="btn btn-default text-danger" (click)="confirmDeleteList(deleteListModalTemplate)">Delete</button>
      </div>
      <div class="float-end">
        <button class="btn btn-default" (click)="listOptionsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateListOptions()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #itemDetailsModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Item Details</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="itemDetailsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="itemDetailsFormGroup" class="form">
      <div class="form-group">
        <label for="list">List</label>
        <select class="form-control" formControlName="listId">
          <option [ngValue]="list.id" *ngFor="let list of lists">{{ list.title }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" formControlName="priority">
          <option [ngValue]="level.value" *ngFor="let level of priorityLevels">{{ level.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="note">Note</label>
        <textarea id="note" class="form-control" rows="3" formControlName="note"></textarea>
      </div>
      
      <div class="form-group">
        <label>Tags</label>
        <div class="d-flex flex-wrap mb-2">
          <div *ngFor="let tag of selectedItem?.tags" class="tag me-2 mb-2" [ngStyle]="{'background-color': tag.color || '#6c757d'}">
            {{ tag.name }}
            <button type="button" class="btn-close btn-close-white ms-2" (click)="removeTagFromTodoItem(selectedItem.id, tag.id)"></button>
          </div>
          <div *ngIf="!selectedItem?.tags || selectedItem?.tags.length === 0" class="text-muted">No tags added</div>
        </div>
        
        <div class="input-group">
          <select class="form-select" [(ngModel)]="newTagEditor.selectedTagId" [ngModelOptions]="{standalone: true}">
            <option [ngValue]="null" disabled selected>Select a tag</option>
            <option *ngFor="let tag of tags" [ngValue]="tag.id">{{ tag.name }}</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" [disabled]="!newTagEditor.selectedTagId" (click)="addTagToTodoItem(selectedItem.id, newTagEditor.selectedTagId)">Add</button>
        </div>
      </div>
    </form>
    <div *ngIf="debug">
      <pre>{{ itemDetailsFormGroup.value | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-start">
        <button class="btn btn-default text-danger" (click)="deleteItem(selectedItem, true)">{{deleting ? 'Deleting ' + deleteCountDown + ' ...' : 'Delete'}}</button>
      </div>
      <div class="float-end">
        <button class="btn btn-default" (click)="itemDetailsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateItemDetails()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteListModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete "{{ selectedList?.title }}"?</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="deleteListModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>All items will be permanently deleted. </p>
    <div *ngIf="debug">
      <pre>{{ selectedList | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button type="button" class="btn btn-default" (click)="deleteListModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteListConfirmed()">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #tagManagementModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tag Management</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="tagModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-4">
      <h5>Existing Tags</h5>
      <div class="d-flex flex-wrap">
        <div *ngFor="let tag of tags" class="tag me-2 mb-2" [ngStyle]="{'background-color': tag.color || '#6c757d'}">
          {{ tag.name }}
          <button type="button" class="btn-close btn-close-white ms-2" (click)="deleteTag(tag.id)"></button>
        </div>
        <div *ngIf="!tags || tags.length === 0" class="text-muted">No tags created yet</div>
      </div>
    </div>
    
    <div class="mt-3">
      <h5>Create New Tag</h5>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tag name" [(ngModel)]="newTagEditor.name">
        <input type="color" class="form-control form-control-color" [(ngModel)]="newTagEditor.color" value="#563d7c" title="Choose tag color">
        <button class="btn btn-outline-secondary" type="button" [disabled]="!newTagEditor.name" (click)="createTag(newTagEditor.name, newTagEditor.color)">Create</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="tagModalRef.hide()">Close</button>
  </div>
</ng-template>

<ng-template #newListModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New List</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="newListCancelled()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="List title..." [(ngModel)]="newListEditor.title"
        [ngClass]="{ 'is-invalid': newListEditor.error }" (keyup.enter)="addList()" />
      <div *ngIf="newListEditor.error" class="invalid-feedback">
        {{ newListEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newListEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button class="btn btn-default" (click)="newListCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addList()">Create</button>
    </div>
  </div>
</ng-template>
